@font-face {
    font-family: 'GreycliffCF';
    src: url('https://4188535.fs1.hubspotusercontent-na1.net/hubfs/4188535/GreycliffCF-font-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GreycliffCF';
    src: url('https://4188535.fs1.hubspotusercontent-na1.net/hubfs/4188535/GreycliffCF-font-medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GreycliffCF';
    src: url('https://4188535.fs1.hubspotusercontent-na1.net/hubfs/4188535/GreycliffCF-font-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
  
* {
    font-family: 'GreycliffCF', sans-serif !important;
}